-# .row
-#   .col-lg-4.col-md-6.ml-auto.mr-auto
-#     %h1.text-center= t('.sign_up')
-#     %hr/
-#     = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
-#       = devise_error_messages!
-#       .form-group
-#         = f.label :email
-#         %br/
-#         = f.email_field :email, autofocus: false, class: 'form-control'
-#       .form-group
-#         = f.label :password
-#         - if @minimum_password_length
-#           %em= t('devise.shared.minimum_password_length', count: @minimum_password_length)
-#         %br/
-#         = f.password_field :password, autocomplete: "off", class: 'form-control'
-#       .form-group
-#         = f.label :password_confirmation
-#         %br/
-#         = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
-#       .form-group
-#         = f.submit t('.sign_up'), class: "btn btn-primary btn-block btn-lg"
-#     .text-center
-#       = render "devise/shared/links"

.form__contents
  .col-lg-4.col-md-6.ml-auto.mr-auto
    .form__content
      .form__head
        %h2.text-center 新規登録
      = form_for(resource, as: resource_name, url: registration_path(resource_name), id: "form__content") do |f|
        .form__box
          .form__text
            = devise_error_messages!
        .form__box
          = f.email_field :email, autofocus: false, placeholder: 'Gmail'
        .form__box
          = f.text_field :family_name, autofocus: false, placeholder: '氏'
        .form__box
          = f.text_field :first_name, autofocus: false, placeholder: '名'
        .form__box
          = f.text_field :nick_name, autofocus: false, placeholder: 'ニックネーム'
        .form__box
          .form__text
            - if @minimum_password_length
              %em= t('devise.shared.minimum_password_length', count: @minimum_password_length)
          = f.password_field :password, autocomplete: "off", placeholder: 'PassWord'
        .form__box
          = f.password_field :password_confirmation, autocomplete: "off", placeholder: 'PassWord(one more)'
        .form__box
          = f.submit t('.sign_up'), class: "form__button"
      .form__footer
        = link_to new_user_session_path do
          %h2.form__text ログイン画面へ


