-# .form__post__wrap
-#   = form_with(model: [group, task], local: true, id: "form__task") do |f|
= f.label :title, class: "form__post__label" do
  タイトル
= f.text_field :title, class: "form__post__textbox", placeholder: 'タイトルを入力してください', value: task.title

= f.label :client_user, class: "form__post__label" do
  クライアント担当者名
= f.text_field :client_user, class: "form__post__textbox", placeholder: '担当者を入力してください', value: task.client_user

= f.label :client_name, class: "form__post__label" do
  クライアント企業名
= f.text_field :client_name, class: "form__post__textbox", placeholder: '企業名を入力してください', value: task.client_name

= f.label :detail, class: "form__post__label" do
  備考・詳細
= f.text_area :detail, class: "form__post__textbox", placeholder: '備考や詳細を入力してください', value: task.detail

= f.label :request_date, class: "form__post__label" do
  依頼日
= f.text_field :request_date, class: "form__post__textbox", placeholder: '依頼日を入力してください', value: task.request_date

= f.label :delivery_date, class: "form__post__label" do
  納期
= f.text_field :delivery_date, class: "form__post__textbox", placeholder: '納期を入力してください', value: task.delivery_date

= f.label :group_id, class: "form__post__label" do
  グループ
= f.hidden_field :group_id, class: "form__post__textbox", value: group.id

= f.submit class: "form__post__button"

-# = form_with(model: group, local: true) do |f|
-#   .form__content
-#     = f.label :name, class: "form__label"
-#     = f.text_field :name, class: "form__box", placeholder: '  グループ名を入力してください'
-#   .form__content
-#     = f.label :master, class: "form__label"
-#     = current_user.name
-#     = f.text_field :master, value: current_user.id, class: "form__box", hidden: true
-#     = f.text_field :master_name, value: current_user.name, class: "form__box", hidden: true
-#   .form__content
-#     = f.label :detail, class: "form__label"
-#     = f.text_area :detail, class: "form__box", placeholder: '  グループの詳細を入力してください'
-#   .form__content
-#     %label.form__label{for: "chat_group_チャットメンバーを追加"} グループメンバーを追加
-#     %input#search__user__field.form__box{placeholder: "  追加したいユーザー名を入力してください", type: "text"}
-#   .form__content
-#     .form__label
-#     #form__search__result

-#   .form__content
-#     .form__label
-#       参加者
-#     #form__group__users
-#       - @group.users.each do |user|
-#         .form__search__result__box
-#           %input{id: "group_user_ids", name: "group[user_ids][]", type: "hidden", value: user.id}
-#           = image_tag user.image.url, class: "form__search__image" if user.image.url
-#           .form__search__name
-#             = user.name
-#           - if user.id != current_user.id
-#             #form__remove__button.form__search__button.button
-#               削除

-#   .form__content
-#     = f.submit class: "form__button"