.form__contents
  .col-lg-4.col-md-6.ml-auto.mr-auto
    .form__content
      .form__head
        = link_to edit_task_path(@task, group_id: @task.group_id) do
          %h2.form__text  編集する
%table{:class => "table__show"}
  %tbody
    %tr
      %th タイトル
      %td
        = @task.title
    %tr
      %th クライアント担当者名
      %td
        = @task.client_user
    %tr
      %th クライアント企業名
      %td
        = @task.client_name
    %tr
      %th 備考・詳細
      %td
        = @task.detail
    %tr
      %th 依頼日
      %td
        = @task.request_date
    %tr
      %th 納期
      %td
        = @task.delivery_date
    %tr
      %th 進捗状況
      %td
        - case @task.status
          - when 1
            未着手
          - when 2
            要件整理
          - when 3
            作成中
          - when 4
            確認待
          - when 5
            完了
          - when 9
            取消・キャンセル
          - else
            未分類
    %tr
      %th グループ
      %td
        = @task.group_id
