/ モーダルの設定
#Modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "Modal", :role => "dialog", :tabindex => "-1"}
  / 以下modal-dialogのCSSの部分で modal-lgやmodal-smを追加するとモーダルのサイズを変更することができる
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %h5#Modal.modal-title ユーザーの追加
        %button.close{"aria-label" => "閉じる", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .modal__search--title
          追加したいユーザーを検索できます
        .modal__search__form
          %input#modal__search__user.modal__search__box{placeholder: "  追加したいユーザーのメールアドレスを入力してください", type: "text"}
          %button#modal__search__button.modal__search__button
            検索
        #modal__search__result
          -# ココに検索にヒットしたユーザーをjsで表示する
        .modal__search--text
          ※メールアドレスの完全一致のみがヒットします
      .modal-footer
        %button.btn.modal__button__close{"data-dismiss" => "modal", :type => "button"} 閉じる
        %button#append__user.btn.modal__button__append{type: "button" } 追加

= form_with(model: group, local: true, id: "form__group") do |f|
  .form__box
    .form__text
      -# = devise_error_messages!
  .form__box
    = f.text_field :name, autofocus: false, placeholder: 'グループ名'
  .form__box
    = f.password_field :password, autofocus: false, placeholder: '管理用パスワード'
  .form__box
    = f.file_field :icon, autofocus: false
    -# = f.hidden_field :group[user_ids][], id: "group_user_ids", value: current_user.id
    %input{id: "group_user_ids", name: "group[user_ids][]", type: "hidden", value: current_user.id}
    = f.hidden_field :master_user, autofocus: false, value: current_user.id
  .form__box
    管理者：
    = current_user.nick_name
  - if edit_flg == 1
    .form__box
      %ul.form__lists
        - @group.users.each do |group_user|
          - if @group.master_user != group_user.id
            %li.form__list
              %input#group_user_ids{name: "group[user_ids][]", type: "hidden", value: group_user.id}
              = group_user.nick_name
            - if @group.master_user == current_user.id
              .form__list__button
                削除
    %button.btn.modal__button__append{"data-target" => "#Modal", "data-toggle" => "modal", :type => "button"}
      ユーザーを追加する
  .form__box
    = f.submit buttonName, class: "form__button"
.form__footer
  = link_to groups_path do
    %h2.form__text グループトップ

-# 削除
  -# .form__search__result__box
  -# %input#group_user_ids{:name => "group[user_ids][]", :type => "hidden", :value => "${user.user_id}"}/
  -# %img.form__search__image{:src => "${user.user_image}"}/
  -# .form__search__name ${user.user_name}
  -# #form__remove__button.form__search__button.button 削除