
= form_with(model: group, local: true, id: "form__group") do |f|
  .form__box
    .form__text
      -# = devise_error_messages!
  .form__box
    = f.text_field :name, autofocus: false, placeholder: 'グループ名'
  .form__box
    = f.password_field :password, autofocus: false, placeholder: '管理用パスワード'
  .form__box
    = f.file_field :icon, autofocus: false, value: 'アイコン選択'
  .form__box
    管理者：
    = current_user.nick_name
  .form__box
    = f.submit 'グループ作成', class: "form__button"
.form__footer
  = link_to groups_path do
    %h2.form__text グループトップ