.form__contents
  .col-lg-4.col-md-6.ml-auto.mr-auto
    .form__content
      .form__head
        %h2.text-center
          = @group.name + "【所属ユーザー】"
      .form__box
        %ul.form__lists
          - @group.users.each do |group_user|
            %li.form__list
              = group_user.nick_name
        .form__footer
          -if @group.master_user == current_user.id
            = link_to edit_group_path(@group.id) do
              %h2.form__text 編集（追加・削除）
        .form__footer
          = link_to group_tasks_path(@group.id) do
            %h2.form__text タスク確認
        .form__footer
          = link_to group_expenses_path(@group.id) do
            %h2.form__text 経費確認
        .form__footer
          = link_to groups_path do
            %h2.form__text グループトップ