-# .form__post__wrap
-#   = form_with(model: [group, expense], local: true, id: "form__expense") do |f|

.form__post__wrap
  = f.hidden_field :group_id, class: "form__post__textbox", value: group.id
  = f.hidden_field :user_id, class: "form__post__textbox", value: current_user.id
  .form__post__box
    = f.label :order_date, class: "form__post__label" do
      作成日
    = f.text_field :order_date, id: "datepicker__order", class: "form__post__textbox", autocomplete: "off", placeholder: '作成日を選択してください', value: expense.order_date

  .form__post__box
    = f.label :content, class: "form__post__label" do
      内容
    = f.text_field :content, class: "form__post__textbox", placeholder: '使用用途を入力してください', value: expense.content

  .form__post__box
    = f.label :income_spend, class: "form__post__label" do
      収入・支出
    = f.select :income_spend, [[ "収入", 1 ], [ "支出", 2 ]], {prompt: "--"},  class: 'form__post__textbox form__post__selectbox'

  .form__post__box
    = f.label :price, class: "form__post__label" do
      金額
    = f.text_field :price, class: "form__post__textbox", placeholder: '金額を入力してください', value: expense.price

  .form__post__box
    = f.label :remarks, class: "form__post__label" do
      備考・詳細
    = f.text_area :remarks, class: "form__post__textbox", placeholder: '備考や詳細を入力してください', value: expense.remarks

  .form__post__box
    = f.label :account_no, class: "form__post__label" do
      勘定科目
    = f.collection_select :account_no, Account.all, :no, :name, {prompt: "--"}, class: "form__post__textbox form__post__selectbox"

  .form__post__box
    = f.label :receipt_file_name, class: "form__post__label" do
      領収書ファイル名
    = f.text_field :receipt_file_name, class: "form__post__textbox", placeholder: 'ファイル名を入力してください', value: expense.receipt_file_name

  .form__post__box
    = f.label :receipt_file, class: "form__post__label" do
      領収書ファイル
    = f.file_field :receipt_file, class: "form__post__textbox", autofocus: false, value: expense.receipt_file

  = f.submit class: "form__post__button"
