.form__contents
  .col-lg-4.col-md-6.ml-auto.mr-auto
    .form__content
      .form__head
        = link_to new_group_expense_path(@group) do
          %h2.form__text  新規経費作成
%table.table__content
  %tr
    %th 作成日
    %th 内容
    %th 収支
    %th 金額
    %th
    - if @group.master_user == current_user.id
      %th
  - if @expenses
    - @expenses.each do |expense|
      %tr
        %td
          = expense.order_date
        %td
          = expense.content
        %td
          - case expense.income_spend
            - when 1
              収入
            - when 2
              支出
            - else
              未分類
        %td
          = "¥" + expense.price.to_s(:delimited)
        %td.table__content--link
          = link_to expense_path(expense, group_id: expense.group_id) do
            詳細
        - if @group.master_user == current_user.id
          %td.table__content--link
            = link_to edit_expense_path(expense, group_id: expense.group_id) do
              編集
  - else
    %tr
      %td
        １件も登録がございません
      %td
      %td
      %td
      %td
      %td