!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ManagementToRemember
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %link{:href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/south-street/jquery-ui.css", :rel => "stylesheet"}/

  %body
    - if notice
      .page__header__comment
        %p.page__header__message
          = notice
    - elsif alert
      .page__header__comment
        %p.page__header__message
          = alert
    #home.home__large-background
      %header.page__header.wrapper
        %h1
          -# = image_tag '', :alt => 'ロゴ'
        %nav
          %ul.page__main__nav
            -# ユーザー登録が済んでいる
            - if current_user.present?
              %li
                = link_to root_path, class: "page__link" do
                  トップ
              %li
                = link_to groups_path, class: "page__link" do
                  %h3.page__link__text
                    グループ管理
              -# ユーザーがグループに所属している
              - if current_user.group_users.present?
                %li
                  = link_to tasks_top_path, class: "page__link" do
                    %h3.page__link__text
                      タスク管理
                %li
                  = link_to expenses_top_path, class: "page__link" do
                    %h3.page__link__text
                      経費管理

      = yield